#welcomeMessage {
    font-family:serif;
    font-size: 40pt;
    color:black;
    text-align:center;
}
.tweetContent {
    width: 90vw;
    margin-left: 5vw;
    margin-right:5vw;
    font-family:serif;
    font-size: 15pt;

}
.tweetAuthor {
    font-family:serif;
    font-size: 12pt;
    font-style:italic;
}
